.out-team-soc-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.our-team-soc-link {
  height: 44px;
  width: 44px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.our-team-soc-item + .our-team-soc-item {
  margin-left: 10px;
}
.our-team-soc-link:hover,
.our-team-soc-link:focus {
  background-color: var(--active-link-color);
  color: #ffffff;
}
.our-team-soc-icon {
  fill: currentColor;
}

//footer
.soc {
  margin-top: 12px;
}
.soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.soc__list {
  margin-top: 20px;
  display: flex;
}
.soc__link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  background-color: rgba(255, 255, 255, 0.1);
}
.soc__item + .soc__item {
  margin-left: 10px;
}
.soc__link:hover,
.soc__link:focus {
  background-color: var(--active-link-color);
}
.soc__icon {
  fill: #ffffff;
}
