.specifics-icon {
  background-color: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specifics-list {
  display: flex;
}
.specifics-item:not(:last-child) {
  margin-right: var(--tipical-margin-2);
}
.specifics-item-title {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.specifics-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
  max-width: 270px;
}
